@import "../../scss/import.scss";
.register {
  @include flexMid(center);
  flex-direction: column;
  height: 100%;
  &__header {
    color: $cl-black;
  }
  &__description {
    margin-top: 16px;
    color: $cl-grey;
    a {
      color: $cl-blue;
    }
  }
  .registerForm {
    width: 320px;
    height: max-content;
    margin-top: 24px;
    @include flexMid(center);
    flex-direction: column;
    gap: 36px;
  }
}
