@import "../../../scss/import.scss";
.changePassword{
    padding: 160px 240px;
    width: 100%;
    height: 100%;
    h3{
        margin-bottom: 20px;
    }
    hr{
        background-color: $cl-grey;
        height: 0.5px;
    }
    hr:not(:first-child){
        margin-top: 20px;
    }
    .changePasswordForm{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        gap: 16px;
    }
} 