@import '../../../../scss/import.scss';
.payment-success {
  @include flexMid(center);
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  &__image {
    width: 20rem;
    height: 20rem;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  p {
    font-weight: 700;
    font-size: $fz-large;
  }
}
