@import '../../../scss/import.scss';

.footer {
  background: $cl-white;
  border-top: 0.5px solid;

  .mainWrapper {
    padding: 60px 40px 40px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .footer__top {
      @include flexMid(space-between);
    }

    .footer__center {
      @include flexMid(center);
      gap: 16px;

      svg {
        path {
          stroke: $cl-primary;
          fill: $cl-primary;
        }
      }
    }

    .footer__bottom {
      @include flexMid(center);
      flex-direction: column;
      gap: 16px;
      color: $cl-grey;
    }
  }
}