@import '../../../scss/import.scss';

.footer {
  background: url(../../../assets/images/bg-footer.png) no-repeat left top / cover;
  .mainWrapper {
    padding: 130px 40px 20px;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .footer__top {
      @include flexMid(space-between);
    }

    .footer__center {
      @include flexMid(center);
      gap: 16px;

      svg {
        path {
          stroke: $cl-primary;
          fill: $cl-primary;
        }
      }
    }

    .footer__bottom {
      @include flexMid(center);
      flex-direction: column;
      gap: 16px;
      color: $cl-white;
    }
  }
}
