.circleOn {
  background: #00bd2b;
  border: 2px solid #c4f4cf;
  border-radius: 100%;
  display: inline-block;
  min-height: 12px;
  min-width: 12px;
}
.bills-management {
  h4 {
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 24px;
    padding-left: 5%;
  }
  .employees-management__table--row {
    grid-template-columns: 120px 230px 1fr 1fr 1fr 1fr 1fr;
  }

  .employees-management__operation--role {
    margin-left: 10px;
  }
  .addbill {
  }
}
