.accountInformation {
  width: 50%;
  height: 100%;

  hr {
    width: 100%;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--top {
      display: flex;
      gap: 14px;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 100%;

      &-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 80px;
          -o-object-fit: cover;
          object-fit: cover;
          width: 100%;
        }
      }

      &-form-buttons {
        margin-left: auto;
        display: flex;
        gap: 16px;
      }
    }

    &--inputs {
      width: calc(50% - 20px);
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
  .accountInformation {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .accountInformation {
    width: 80%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .accountInformation {
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .accountInformation {
    width: 98%;
    &__form {
      flex-direction: column;
      &--top {
        flex-direction: column;
        &-form-buttons {
          margin-left: unset;
        }
      }
      &--inputs {
        width: 100%;
      }
    }
  }
}
