@import '../../../scss/import.scss';

.header {
  background: $cl-black;
  position: fixed;
  width: 100%;
  z-index: 99;
  .mainWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    height: 70px;
  }
}
