@import '../../../scss/import.scss';

.header {
  background: $cl-black;
  border-bottom: 0.5px solid;
  .mainWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
  }
}
