@import '../../../../scss/import.scss';
.payment-info {
  h3 {
    font-size: $fz-large;
    font-weight: 700;
    text-align: center;
    margin: 24px 0px;
  }
  &__form {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {
  .payment-info {
    &__form {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .payment-info {
    &__form {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
