@import '../../../../scss/import.scss';

.products-management {
  display: flex;
  flex-direction: column;

  h4 {
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 24px;
    padding-left: 5%;
  }

  &__operation {
    width: 90%;
    margin: 0 auto 20px;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 12px 4px;
    background-color: $cl-white;
    border-radius: 6px;
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
    &--search {
      position: relative;
      width: 300px;
      height: 100%;

      svg {
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
      }

      input {
        height: 100%;
        width: 100%;
        padding-left: 40px;
        border-radius: 4px;
        border: 1px solid $cl-black;
        background-color: $cl-white;

        &:focus-visible {
          outline: none;
          border: 1px solid $cl-primary;
          color: $cl-primary;
        }

        &:focus-visible + svg {
          fill: $cl-primary;

          path {
            fill: $cl-primary;
          }
        }
      }
    }

    &--role {
      margin-left: 50px;
      display: flex;
      align-items: center;
      gap: 16px;
      height: 100%;

      span {
        display: flex;
        align-items: center;
        background-color: $cl-white;
        padding-left: 16px;
        width: 200px;
        height: 100%;
        border: 1px solid $cl-black;
        border-radius: 4px;
      }
    }
  }

  &__table-wrapper {
    min-height: 480px;
    width: 100%;
  }

  &__table {
    width: 90%;
    row-gap: 0;
    margin: 20px auto;
    background-color: $cl-white;
    padding: 12px 4px;
    border-radius: 6px;
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
    min-height: 452px;
    &--row {
      display: grid;
      grid-template-columns: 40px 230px 0.8fr 1.5fr 0.8fr 0.8fr 1.5fr 0.6fr;
      align-items: center;

      .table-data {
        display: block;
        width: 100%;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: -webkit-max-content;
        min-height: -moz-max-content;
        min-height: max-content;
        &-center {
          text-align: center;
        }
        &__image-name {
          display: flex;
          gap: 8px;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        &__operation {
          display: flex;
          align-items: center;
          gap: 8px;

          &--icon {
            cursor: pointer;
          }
        }
      }
    }

    &--row:first-child {
      margin-bottom: 12px;
      font-size: $fz-medium;
      font-weight: 600;
      color: $cl-grey;
    }

    &--row:not(:first-child) {
      height: 80px;
      max-height: 80px;
      border-radius: 20px;
      font-weight: 700;
    }
    &--row:not(:first-child):nth-child(even) {
      background: rgba($cl-black, 0.1);
      // svg {
      //   path {
      //     fill: $cl-white;
      //     stroke: $cl-white;
      //   }
      // }
    }
  }
  &__bottom-bar {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid $cl-black;
    padding-top: 20px;
    @include flexMid(space-between);
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .products-management {
    h4 {
    }

    &__operation {
      &--search {
        svg {
        }

        input {
        }
      }

      &--role {
        span {
        }
      }
    }

    &__table-wrapper {
    }

    &__table {
      width: 98%;
      &--row {
        .table-data {
          &-center {
          }
          &__image-name {
            img {
            }
          }

          &__operation {
          }
        }
      }

      &--row:first-child {
      }

      &--row:not(:first-child) {
      }
      &--row:not(:first-child):nth-child(even) {
      }
    }
    &__bottom-bar {
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 480px) {
}
