@import '../../../../scss/import.scss';

.products-management {
  display: flex;
  flex-direction: column;

  h4 {
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 24px;
    padding-left: 5%;
  }

  &__operation {
    width: 90%;
    margin: 0 auto 20px;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 12px 4px;
    background-color: $cl-white;
    border-radius: 6px;
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
    &--search {
      position: relative;
      width: 300px;
      height: 100%;

      svg {
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
      }

      input {
        height: 100%;
        width: 100%;
        padding-left: 40px;
        border-radius: 4px;
        border: 1px solid $cl-black;
        background-color: $cl-white;

        &:focus-visible {
          outline: none;
          border: 1px solid $cl-primary;
          color: $cl-primary;
        }

        &:focus-visible + svg {
          fill: $cl-primary;

          path {
            fill: $cl-primary;
          }
        }
      }
    }

    &--role {
      margin-left: 50px;
      display: flex;
      align-items: center;
      gap: 16px;
      height: 100%;

      span {
        display: flex;
        align-items: center;
        background-color: $cl-white;
        padding-left: 16px;
        width: 200px;
        height: 100%;
        border: 1px solid $cl-black;
        border-radius: 4px;
      }
    }
  }

  &__table-wrapper {
    min-height: 480px;
    width: 100%;
  }

  &__table {
    width: 90%;
    row-gap: 0;
    margin: 20px auto;
    background-color: $cl-white;
    padding: 12px 4px;
    border-radius: 6px;
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
    min-height: 452px;
    &--row {
      display: grid;
      grid-template-columns: 40px 230px 0.8fr 1.5fr 0.8fr 0.8fr 1.5fr 0.6fr;
      align-items: center;

      .table-data {
        display: block;
        width: 100%;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: -webkit-max-content;
        min-height: -moz-max-content;
        min-height: max-content;
        &-center {
          text-align: center;
        }
        &__image-name {
          display: flex;
          gap: 8px;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        &__operation {
          display: flex;
          align-items: center;
          gap: 8px;

          &--icon {
            cursor: pointer;
          }
        }
      }
    }

    &--row:first-child {
      margin-bottom: 12px;
      font-size: $fz-medium;
      font-weight: 600;
      color: $cl-grey;
    }

    &--row:not(:first-child) {
      height: 80px;
      max-height: 80px;
      border-radius: 20px;
      font-weight: 700;
    }
    &--row:not(:first-child):nth-child(even) {
      background: rgba($cl-black, 0.1);
      // svg {
      //   path {
      //     fill: $cl-white;
      //     stroke: $cl-white;
      //   }
      // }
    }
  }
  &__bottom-bar {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid $cl-black;
    padding-top: 20px;
    @include flexMid(space-between);
  }
}

.employee-management__operation--role-dropdown {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-top: 8px;
  border: 1px solid $cl-black;
  background-color: white;
  border-radius: 4px;

  span {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 16px;

    &:hover {
      background-color: $cl-primary;
      color: white;
    }
  }
}

.employeeInput {
  width: 100%;
  height: 100%;

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    &--top {
      display: flex;
      flex-direction: column;
      width: calc(50% - 16px);
      gap: 32px;

      &-left {
        display: flex;
        align-items: center;
        justify-content: center;

        .avatar {
          width: 120px;
          height: 120px;
          border-radius: 4px;
          // border: 1px dashed $cl-black;
        }

        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: inherit;
        }

        .button {
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
        }
      }
    }
  }
}
