@import '../../scss/import.scss';

.admin {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;

  &__navbar,
  &__outlet {
    transition: 0.6s all $cubic;
    background-color: $cl-grey-dimmed;
    position: relative;
  }
  &__navbar {
    transition: 0.6s all $cubic;
    background-color: $cl-black;
  }
}
