@import '../../scss/import.scss';

.admin {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;

  &__navbar,
  &__outlet {
    padding-top: 70px;
    transition: 0.6s all $cubic;
<<<<<<< HEAD
    background-color: #f6f6f6;
=======
    background-color: $cl-grey-dimmed;
    position: relative;
  }
  &__navbar {
    transition: 0.6s all $cubic;
    background-color: $cl-black;
>>>>>>> 9b1aead (chore: provide data for database)
  }
}
