@import '../../scss/import.scss';

.forgotPassword {
  width: 30%;
  @include flexMid(center);
  display: flex;
  flex-direction: column;
  &__image {
    @include flexMid(center);

    img {
      width: 200px;
      object-fit: cover;
    }
  }

  &__title {
    margin-top: 16px;
    display: block;
    width: 100%;
  }

  &__description {
    line-height: 1.4;
    font-size: 15px;
    margin-bottom: 8px;
    display: block;
    width: 100%;
    text-align: left;
  }



  &__form {
    @include flexMid(space-around);
    flex-direction: column;
    width: 100%;
    gap: 12px;
 
  }
}
