@import '../../scss/import.scss';
.price-filter-range {
  .slider {
    width: 100%;
    height: 10px;
    background-color: $cl-grey-dimmed;
    border-radius: 6px;

    position: relative;
    .progress {
      position: absolute;
      top: 0;
      height: 10px;
      border-radius: 6px;
      background-color: rgba($cl-primary, 0.4);
    }
  }
  .range {
    position: relative;
    height: 10px;
    input[type='range'] {
      height: 10px;
      top: -12px;
      position: absolute;
      width: 100%;
      background: none;
      pointer-events: none;
      -webkit-appearance: none;
      outline: none;
      border: none;
    }
    input[type='range']::-webkit-slider-thumb {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: red;
      cursor: pointer;
      pointer-events: auto;
      -webkit-appearance: none;
    }
    input[type='range']::-moz-range-thumb {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      cursor: pointer;
      border: none;
      background-color: red;
      pointer-events: auto;
      -moz-appearance: none;
    }
  }
  .output {
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: $cl-primary;
  }
  .accept-button {
    margin-top: 8px;
    font-weight: 700;
    background-color: $cl-primary;
    color: white;
    font-size: $fz-medium;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 12px 8px;
    border-radius: 6px;
    margin-left: auto;
    cursor: pointer;
  }
}
