@import '../../scss/import.scss';
.pagination {
  @include flexMid(unset);
  gap: 8px;
  &__item {
    @include flexMid(center);
    width: 32px;
    height: 32px;
    font-size: 14px;
    svg {
      width: 20px;
      height: 20px;
    }
    &:hover {
      background-color: $cl-primary;
      color: $cl-white;
      border-radius: 6px;
      font-weight: 600;
      svg {
        path {
          fill: $cl-white;
        }
      }
    }
    &-active {
      background-color: $cl-primary;
      color: $cl-white;
      border-radius: 6px;
      font-weight: 600;
    }
  }
}
