@import '../../scss/import.scss';
.menu {
  width: 100%;
  min-height: calc(100vh - 300px);
  &-top {
    height: 200px;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background: $cl-primary;
  }
  .products {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;

    &__wrapper {
      width: 70%;
      height: 800px;
      border-radius: 6px;
      background-color: $cl-white;
      box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
      -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &--list {
        padding: 12px;
        width: 100%;
        min-height: 640px;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-template-rows: repeat(2, minmax(250px, 1fr));
      }
      .noProducts {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-weight: 700;
          font-size: large;
          color: $cl-primary;
        }
      }
    }
  }
}
