@import '../../scss/import.scss';
.navbar {
  background-color: $cl-grey-light;
  height: 100%;
  position: relative;
  box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  &__toggle {
    position: absolute;
    background-color: $cl-primary;
    right: 0;
    top: 120px;
    transform: translateX(50%);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    @include flexMid(center);
    &--icon {
      transition: 0.4s all $cubic;
      width: 20px;
      height: 20px;
      svg {
        path {
          fill: $cl-white;
        }
      }
    }
  }
  &__item {
    width: 100%;
    min-height: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: 0.4s all $cubic;
    &--image {
      @include flexMid(center);
      width: 68px;
      height: 100%;
      img {
        width: 40px;
        height: 40px;
        -o-object-fit: cover;
        object-fit: cover;
      }
      svg {
        transition: 0.4s all $cubic;
      }
    }

    &--title {
      white-space: nowrap;
      transition: 0.4s all $cubic;
      display: block;
      height: 18px;
      width: 0%;
      overflow: hidden;
      text-align: left;
      font-weight: 500;
      font-size: $fz-medium;
      transition: 0.4s all $cubic;
    }
  }
  a:hover,
  &__item.active {
    background-color: $cl-primary;
    svg {
      fill: $cl-white;
      path {
        fill: $cl-white;
      }
    }
    .navbar__item--title {
      color: $cl-white;
    }
  }
  &__border {
    width: 100%;
    height: 2px;
    border-radius: 8px;
    background-color: $cl-primary;
  }
  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 108px);
    overflow-y: auto;
  }
}
