@import '../../../../scss/import.scss';
.banner-item {
  height: calc(100vh - 70px);
  width: 100%;
  background-color: red;
  position: relative;
  @include flexMid(center);
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  &__content {
    @include flexMid(center);
    position: relative;
    flex-direction: column;
    z-index: 50;
    color: $cl-white;
    h2 {
      color: $cl-white;
      text-transform: uppercase;
      text-align: center;
      font-size: 72px;
      line-height: 74px;
      font-weight: 600;
      line-height: normal;
      small {
        font-weight: 300;
        font-size: 40px;
        letter-spacing: 5px;
        display: block;
      }
    }
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .banner-item {
    &__content {
      h2 {
        font-size: 65px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {
  .banner-item {
    &__content {
      h2 {
        font-size: 30px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .banner-item {
    &__content {
      h2 {
        font-size: 16px;
      }
      small {
        font-size: 28px !important;
      }
    }
  }
}
