@import "../../../scss/import.scss";
.layout__logo {
  @include flexMid(unset);
  gap: 8px;
  cursor: pointer;
  &--image {
    img {
      width: 36px;
      object-fit: cover;
    }
  }
  h1 {
    font-weight: 700 !important;
    font-size: 28px !important;
    line-height: 34px !important;
    color: $cl-black;
  }
}

.layout__menu {
  @include flexMid(space-between);
  gap: 48px;
  text-transform: uppercase;
  color: $cl-black;
  &--item {
    cursor: pointer;
  }
}

.layout__function {
  @include flexMid(unset);
  gap: 28px;
  &--cart {
    cursor: pointer;
  }
  &--login {
    cursor: pointer;
    width: max-content;
    padding: 12px 24px;
    height: 44px;
    border-radius: 32px;
    background-color: #111112;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fdfbfa;
    box-shadow: 0 20px 20px -15px rgb(17 17 18 / 49%);
  }
}

.layout__contact {
  @include flexMid(unset);
  gap: 8px;
  span {
    color: $cl-grey;
  }
  h1 {
    color: $cl-black;
  }
}
