@import '../../../scss/import.scss';
.layout__logo {
  @include flexMid(unset);
  gap: 8px;
  cursor: pointer;
  &--image {
    position: relative;
    display: flex;
    align-items: center;
    img {
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

.layout__menu {
  @include flexMid(space-between);
  gap: 48px;
  position: relative;
  text-transform: uppercase;
  color: $cl-white;
  &--item {
    cursor: pointer;
    transition: 0.4s all $cubic;
  }
  &--item.active {
    color: $cl-primary;
  }

  &--underBorder {
    position: absolute;
    top: calc(100% + 16px);
    height: 3px;
    border-radius: 2px;
    background-color: $cl-primary;
    transition: 0.4s all $cubic;
  }
}

.layout__function {
  @include flexMid(unset);
  gap: 14px;
  &--cart {
    position: relative;
    .quantity {
      position: absolute;
      right: -12px;
      top: -10px;
      color: white;
      font-weight: 500;
      padding: 4px;
      background-color: red;
      border-radius: 30px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      min-width: 28px;
      height: 28px;
      z-index: 2;

      @include flexMid(center);
    }
    cursor: pointer;
    svg {
      pointer-events: none;
      width: 30px;
      height: 30px;
      z-index: 5;
      stroke: white;
    }
  }

  &--user {
    img {
      pointer-events: none;
      border-radius: 50%;
      cursor: pointer;
      -o-object-fit: cover;
      object-fit: cover;
      width: 28px;
      height: 28px;
    }
    &-modal {
      display: flex;
      flex-direction: column;
      padding: 4px 0px;
      border: 1px solid $cl-grey-dimmed;
      background: $cl-white;
      border-radius: 0.25rem;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
      li:first-child {
        padding: 24px 12px;
      }
      li:not(:first-child) {
        padding: 8px 12px;
        cursor: pointer;
        &:hover {
          background-color: $cl-grey-dimmed;
          color: $cl-primary;
        }
      }
      a {
        padding: 8px 12px;

        &:hover {
          background-color: $cl-grey-dimmed;
          color: $cl-primary;
        }
      }
      hr {
        background-color: $cl-grey-dimmed;
      }
    }
  }
}

.layout__contact {
  @include flexMid(unset);
  gap: 8px;
  color: $cl-white;
  h4 {
    a {
      color: $cl-white;
    }
  }
}
