@import '../../../scss/import.scss';
.layout__logo {
  @include flexMid(unset);
  gap: 8px;
  cursor: pointer;
  &--image {
    position: relative;
    display: flex;
    align-items: center;
    img {
      object-fit: cover;
    }
  }
}

.layout__menu {
  @include flexMid(space-between);
  gap: 48px;
  position: relative;
  text-transform: uppercase;
  color: $cl-grey;
  &--item {
    cursor: pointer;
  }
  &--item.active {
    color: $cl-primary;
  }

  &--underBorder {
    position: absolute;
    top: calc(100% + 16px);
    height: 3px;
    border-radius: 2px;
    background-color: $cl-primary;
    transition: 0.4s all $cubic;
  }
}

.layout__function {
  @include flexMid(unset);
  gap: 14px;
  &--cart {
    cursor: pointer;
    svg {
      path {
        stroke-width: 30;
      }
    }
  }

  &--user {
    img {
      pointer-events: none;
      border-radius: 50%;
      cursor: pointer;
      object-fit: cover;
      width: 28px;
      height: 28px;
    }
    &-modal {
      display: flex;
      flex-direction: column;
      padding: 4px 0px;
      border: 1px solid $cl-grey-dimmed;
      background: $cl-white;
      border-radius: 0.25rem;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
      li:first-child {
        padding: 24px 12px;
      }
      li:not(:first-child) {
        padding: 8px 12px;
        cursor: pointer;
        &:hover {
          background-color: $cl-grey-dimmed;
          color: $cl-primary;
        }
      }
      a {
        padding: 8px 12px;

        &:hover {
          background-color: $cl-grey-dimmed;
          color: $cl-primary;
        }
      }
      hr {
        background-color: $cl-grey-dimmed;
      }
    }
  }
}

.layout__contact {
  @include flexMid(unset);
  gap: 8px;
  color: $cl-white;
  h4 {
    a {
      color: $cl-white;
    }
  }
}
