@import '../../../scss/import.scss';
.layout__logo {
  @include flexMid(unset);
  gap: 8px;
  cursor: pointer;
  &--image {
    position: relative;
    display: flex;
    align-items: center;
    img {
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
.layout__menu-responsive {
  display: none;
  width: 24px;
  height: 24px;
  order: -1;
  &--icon {
    svg {
      width: 24px;
      height: 24px;
      stroke: $cl-white;
    }
  }

  &--list {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: $cl-white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    top: 0;
    left: 0;
    padding: 24px 0px 24px;
    .button-box-shadow {
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
  }
  &--item {
    @include flexMid(center);
    flex-direction: column;
    padding: 20px 0px;
    font-size: 28px;
    font-weight: 600;
    color: $cl-black;
    &:hover {
      background-color: $cl-primary;
      color: white;
    }
  }
  &--item.active {
    background-color: $cl-primary;
    color: white;
  }
}
.layout__menu {
  @include flexMid(space-between);
  gap: 48px;
  position: relative;
  text-transform: uppercase;
  color: $cl-white;
  &--item {
    cursor: pointer;
    transition: 0.4s all $cubic;
  }
  &--item.active {
    color: $cl-primary;
  }

  &--underBorder {
    position: absolute;
    top: calc(100% + 16px);
    height: 3px;
    border-radius: 2px;
    background-color: $cl-primary;
    transition: 0.4s all $cubic;
  }
}

.layout__function {
  @include flexMid(unset);
  gap: 14px;
  &--cart {
    position: relative;
    .quantity {
      position: absolute;
      right: -12px;
      top: -10px;
      color: white;
      font-weight: 500;
      padding: 4px;
      background-color: red;
      border-radius: 30px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      min-width: 28px;
      height: 28px;
      z-index: 2;

      @include flexMid(center);
    }
    cursor: pointer;
    svg {
      pointer-events: none;
      width: 30px;
      height: 30px;
      z-index: 5;
      stroke: white;
    }
  }

  &--user {
    img {
      pointer-events: none;
      border-radius: 50%;
      cursor: pointer;
      -o-object-fit: cover;
      object-fit: cover;
      width: 40px;
      height: 40px;
    }
    &-modal {
      display: flex;
      flex-direction: column;
      padding: 4px 0px;
      border: 1px solid $cl-grey-dimmed;
      background: $cl-white;
      border-radius: 0.25rem;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
      li:first-child {
        padding: 24px 12px;
      }
      li:not(:first-child) {
        padding: 8px 12px;
        cursor: pointer;
        &:hover {
          background-color: $cl-grey-dimmed;
          color: $cl-primary;
        }
      }
      a {
        padding: 8px 12px;

        &:hover {
          background-color: $cl-grey-dimmed;
          color: $cl-primary;
        }
      }
      hr {
        background-color: $cl-grey-dimmed;
      }
    }
  }
}

.layout__contact {
  @include flexMid(unset);
  gap: 8px;
  color: $cl-white;
  h4 {
    a {
      color: $cl-white;
    }
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {
  .layout__menu {
    display: none;
  }
  .layout__menu-responsive {
    display: flex;
  }
  .layout__function {
    a {
      display: none;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .layout__menu {
    display: none;
  }
  .layout__menu-responsive {
    display: flex;
    &--list {
      width: 280px;
    }
  }
  .layout__function {
    a {
      display: none;
    }
  }
  .layout__contact {
    display: none;
  }
}
