@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './variables.scss';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  // max-width: 1440px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: auto;
  color: $cl-black;
  font-size: $fz-default;
  background: white;
  position: relative;
  overflow-x: hidden;
}

input {
  color: $cl-black;
  font-size: $fz-default;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}
p {
  font-weight: 500;
  color: $cl-black;
  line-height: 1.2;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
}
.mainWrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($cl-primary, 0.9);
  border-radius: 6px;
}

h1 {
  font-size: 72px;
  line-height: 74px;
  font-weight: 600;
}

h2 {
  font-size: $fz-largest;
  line-height: 62px;
  font-weight: 700;
}

h3 {
  font-size: $fz-large;
  font-weight: 700;
}

h4 {
  font-size: $fz-medium;
  font-weight: 700;
}

.body1 {
  font-size: $fz-medium;
}

.body2 {
  font-size: $fz-medium;
  font-weight: 600;
}

.body3,
.body4 {
  font-size: $fz-default;
  font-weight: 500;
}

.body5 {
  font-size: $fz-small;
}

.swiper-pagination-bullet {
  width: 24px !important;
  height: 24px !important;
  background-color: $cl-white !important;
}
.swiper-pagination-bullet-active {
  background-color: $cl-primary !important;
}

.swiper-scrollbar {
  opacity: 1 !important;
  margin: 0 auto;
  left: 50%;
  // transform: translateX(-50%);
  width: 80%;
  height: 2px !important;
  background: rgba(255, 255, 255, 0.7) !important;
  display: flex;
  align-items: center;
  &-drag {
    border-radius: 6px !important;
    background-color: $cl-white !important;
    padding: 3px;
  }
}

.swal2-popup {
  width: 500px !important;
}
