//colors
$cl-black: #111112;
$cl-grey: #adaeaf;
$cl-green: #1ac84b;
$cl-yellow: #ffb21a;
//transition
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

//font-size
$fz-small: 12px;
$fz-default: 14px;
$fz-medium: 16px;
$fz-large: 28px;
$fz-largest: 38px;
